Device Code support fails to comply with RFC8628

### Preflight Checklist

- [x] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [x] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [x] I am not looking for support or already pursued the available [support channels](https://github.com/dexidp/dex/issues/new/choose) without success.

### Version

current

### Storage Type

Kubernetes

### Installation Type

Official Helm chart

### Expected Behavior

Conforming RFC8628 behavior...

As per RFC8628 section 3.1, https://datatracker.ietf.org/doc/html/rfc8628#section-3.1 the scope is optional.

As per RFC8628 section 3.5, https://datatracker.ietf.org/doc/html/rfc8628#section-3.5 the authorization_pending response should extend RFC6749 section 5.2, https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 which specifies that the HTTP response code should be 400, Bad Request.


### Actual Behavior

Code that expects a conforming RFC8628 implementation fails.

### Steps To Reproduce

_No response_

### Additional Information

_No response_

### Configuration

```yaml

```

### Logs

```shell

```